:root {
  --dark-blue: #252827;
  --cream: #FFFEE6;
  --yellow: #F8EA8C;
}

body {
  background-color: var(--dark-blue);
  color: var(--cream);
  font-family: 'Concert One', cursive;
}

.btn {
  background: transparent;
  color: var(--cream);
  border: 1px solid var(--cream);
  border-radius: 10px;
  font-family: 'Concert One', cursive;
  text-align: center;
  font-size: 1.5em;
  padding: 5px 5px 5px 5px;
}

.btn:hover {
  background: white;
  color: var(--dark-blue);
}

.btn:active {
  box-shadow: 0 0 10px var(--cream);
}

.container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 10%;
  padding-left: 40%;
  padding-right: 40%;
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
}

.timeleft {
  display: grid;
  font-size: 1.8em;
  position: absolute;
  left: 45%;
}

#timer-label {
  position: relative;
  left: 11%;
  font-size: 1.5em;
  padding-top: 15px;
  font-family: 'Abel', sans-serif;
}

#time-left {
  position: relative;
  left: 28%;
  font-size: 1.3em;
  padding-top: 15px;
}

#start_stop, #reset{
  grid-column: 1 / 3 ;
}

.sebport0-signature {
  position: absolute;
  top: 0%;
  left: 40%;
  font-size: 1.5em;
}



