html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.display {
	width: 100%;
	font-size: 4rem;
	height: 100px;
	border: none;
	background-color: #252525;
	color: #fff;
  	text-align: right;
 	padding-right: 20px;
  	padding-left: 10px;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

button {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	height: 60px;
	background-color: #fff;
	border: 1px solid #c4c4c4;
	background-color: transparent;
	font-size: 2.2rem;
	color: #333;	
}

button:hover {
	background-color: #eaeaea;
}

.operator {
	color: #337cac;
}

#clear {
	background-color: #f0595f;
	border-color: #b0353a;
	color: #fff;
}

#clear:hover {
	background-color: #f17377;
}

#equals {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
	grid-row: 2 / 6;
	grid-column: 4 / 5;
	height: 100%;
}

#equals:hover {
	background-color: #4e9ed4;
}

#add, #subtract, #multiply, #divide {
	background-color: #D0AC90;
}

#add:hover, #subtract:hover, #multiply:hover, #divide:hover {
	background-color: #DCAD90;
}

.keyboard-container {
	display: grid;
}

.keyboard-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
	padding: 0px;
}

/* Thanks to Ayo Isaiah for the amazing grid-tutorial:
   		https://freshman.tech/css-grid-calculator */
